<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="<%= image_path("logo2.png")%>" alt=""></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" class="first" href="/about"> CHI SIAMO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LAVORI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects">FILM E TV</a>
          <a class="dropdown-item" href="#">BRANDED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTATTI</a>
      </li>
    </ul>
  </div>
</nav>

<!-- projects -->

  <div class="project">
    <% @projects.each_with_index do |project, index| %>

      <% if index.even? %>

        <div class="project-box">
          <%= link_to project_path(project) do %>
              <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path project.image.key %>')">
                <div class="regia">
                  <h3 class="categoria">REGIA</h3>
                  <h3 class="contenuto"><%= project.direction %></h3>
                </div>
                <div class="distribuzione">
                  <h3 class="categoria">DISTRIBUZIONE</h3>
                  <h3 class="contenuto"><%= project.distribution %></h3>
                </div>
              </div>
            <div class="info2">
              <h3 class="status"><%= project.year %></h3>
              <h3 class="titolo"><%= project.title %></h3>
            </div>
          </div>
        <% end %>

    <% else %>

          <div class="project-box-right">
            <%= link_to project_path(project) do %>
              <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path project.image.key %>')">
                <div class="regia">
                  <h3 class="categoria">REGIA</h3>
                  <h3 class="contenuto"><%= project.direction %></h3>
                </div>
                <div class="distribuzione">
                  <h3 class="categoria">DISTRIBUZIONE</h3>
                  <h3 class="contenuto"><%= project.distribution %></h3>
                </div>
              </div>
            <div class="info2">
              <h3 class="status"><%= project.year %></h3>
              <h3 class="titolo"><%= project.title %></h3>
            </div>
          </div>
        <% end %>

    <% end %>

    <% end %>
  </div>



