<div class="superbox">

<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="<%= image_path("logo2.png")%>" alt=""></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" class="first" href="/about"> CHI SIAMO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LAVORI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects">FILM E TV</a>
          <a class="dropdown-item" href="/brandeds">BRANDED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTATTI</a>
      </li>
    </ul>
  </div>
</nav>

<!-- project -->

<div class="banner-project">
  <%= cl_image_tag @project.image.key %>
</div>
<div class="project-info">
  <div class="titolo">
    <p class="categoria">TITOLO</p>
    <p class="contenuto"><%= @project.title %></p>
  </div>
  <div class="regia">
    <p class="categoria">REGIA</p>
    <p class="contenuto"><%= @project.direction %></p>
  </div>
  <div class="anno">
    <p class="categoria">ANNO</p>
    <p class="contenuto"><%= @project.year %></p>
  </div>
  <div class="coproduzione">
    <p class="categoria">CO-PRODUZIONE</p>
    <p class="contenuto"><%= @project.coproduction %> <br> <%= @project.coproduction2 %> <br> <%= @project.coproduction3 %> <br> <%= @project.coproduction4 %> <br> <%= @project.coproduction5 %></p>
  </div>
  <div class="distribuzione">
    <p class="categoria">DISTRIBUZIONE</p>
    <p class="contenuto"><%= @project.distribution %></p>
  </div>
</div>

<div class="project-story">
  <p class="categoria"> LA STORIA </p>
  <p class="contenuto"><%= @project.story %></p>
</div>

<!-- video -->

<div class="project-more">
  <p class="project-extra-text">VIDEO</p>
  <div class="project-primary">
    <% if @project.youtube != nil %>
      <div class="video">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
  <div class="project-extra">
    <% if @project.youtube2 != nil %>
      <div class="video1">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube2 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
    <% if @project.youtube3 != nil %>
      <div class="video2">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube3 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
  </div>

  <div class="project-extra">
    <% if @project.youtube4 != nil %>
      <div class="video1">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube4 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
    <% if @project.youtube5 != nil %>
      <div class="video2">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube5 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
  </div>

    <div class="project-extra">
    <% if @project.youtube6 != nil %>
      <div class="video1">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube6 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
    <% if @project.youtube7 != nil %>
      <div class="video2">
        <iframe src="https://player.vimeo.com/video/<%= @project.youtube7 %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% end %>
  </div>



<!-- footer -->

<div class="footer-ce">
  <div class="social">
    <p>
      <a href="https://m.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
    </p>
  </div>
  <div class="info">
    <p>© 2019 - Capri Entertainment S.R.L. Via Margutta 54, 00187 Roma</p>
    <p>P.IVA/C.F. 15003851001</p>
    <p class="ppolicy"><a href="">Privacy Policy</a></p>
  </div>
</div>

</div>

